/target
node_modules
.idea/
.DS_Store
.vscode/
local/
__pycache__
.turbo

# ignore cargo flamegraph temp files
flamegraph.svg
cargo-flamegraph.stacks

# 忽略所有以.log结尾的日志文件
*.log

# 忽略logs目录下的所有内容
logs/
